$primary-color: #ff9800;
$navbar-bg-color: rgb(10, 125, 179);
$navbar-text-color: #fff;
$navbar-hover-color: lighten($primary-color, 10%);

.navbar {
    background-color: $navbar-bg-color;
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    div {
        color: $navbar-text-color;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        margin-left: 30px;
    }

    ul {
        display: flex;
        align-items: center;
        margin-right: 30px;

        li {
            color: $navbar-text-color;
            margin-left: 1rem;
            list-style: none;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $navbar-hover-color;
            }
        }
    }
}